<div id="contact-list" class="contacts-container">
    <div id="checkbox" class="contact-column">
        <input class="checkbox" type="checkbox">
    </div>
    <div id="name" class="contact-column">
        <p>Ryan Hemlock</p>
    </div>
    <div id="email" class="contact-column">
        <p>test@gmail.com</p>
    </div>
    <div id="phone" class="contact-column">
        <p>555-555-5555</p>
    </div>
    <div id="company" class="contact-column">
        <p>Penn</p>
    </div>
    <div id="last-activity">
        <p>Updated On 5/5/12</p>
    </div>
</div>