<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM</title>
    <link href="/css/output.css" rel="stylesheet">
</head>

<body >
    {{!-- Header Nav Bar --}}
    <header class="text-white bg-gray-700 flex flex-col sm:flex-row justify-between items-start sm:items-center px-8 py-4">
        {{!-- Logo --}}
        <a class="text-2xl" href="/contacts">The Best CRM</a>
        <nav>
            <ul class="flex justify-between items-baseline">
                <li><a href="/contacts">CRM</a></li>
                <li class="ml-5"><a href="/dashboard">Dashboard</a></li>
                {{#if logged_in}}
                <li class="ml-5"><button class="CTA-btn" id="logout">Logout</button></li>
                {{else}}
                <li class="ml-5"><button class="CTA-btn" href="/login">Login/SignUp</button class="CTA-btn"></li>
                {{/if}}
            </ul>
        </nav>
    </header>

    <main class="h-full grid-body">

        <section id="" class="main-content h-screen px-5 py-11">
            {{{body}}}
        </section>

    </main>

    <script src="/js/logout.js"></script>

</body>

</html>