<section class="mr-4">

    <!-- The Modal = Hidden by default until "Create Contact" button is clicked -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div>
                <h2 id="modal-title">Enter Contact Details</h2>
            </div>
            <div id="form-container">
                <form id="modal-form">
                    {{!-- First and Last Name --}}
                    <div class="flex justify-start items-center">
                        <div class="flex flex-col my-2">
                            <label for="first-name">First Name:</label>
                            <input class="contact-input" id="contact-first-name" type="text" placeholder="John">
                        </div>
                        <div class="ml-4 flex flex-col my-2">
                            <label for="last-name">Last Name:</label>
                            <input class="contact-input" id="contact-last-name" type="text" placeholder="Doe">
                        </div>
                    </div>
                    {{!-- Email and Phone Number --}}
                    <div class="flex justify-start items-center">
                        <div class="flex flex-col w-1/4 my-2">
                            <label for="email">Email:</label>
                            <input class="contact-input" id="contact-email" type="email" placeholder="john@johndoe.com">
                        </div>
                        <div class="ml-4 flex flex-col w-1/4 my-2">
                            <label for="phone-number">Phone Number:</label>
                            <input class="contact-input" id="contact-phone-number" type="tel"
                                placeholder="555-555-5555">
                        </div>
                    </div>
                    {{!-- Company Name --}}
                    <div class="flex flex-col w-1/4 my-2">
                        <label for="company-name">Company Name:</label>
                        <input class="contact-input" id="contact-company-name" type="text" placeholder="John & Co.">
                    </div>
                    <button id="submit-contact" class="bg-slate-900 text-slate-50" type="submit">Create Contact</button>
                </form>
            </div>
        </div>
    </div>
    {{!-- EDIT CONTACT MODAL --}}
    <div id="myEditModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div>
                <h2 id="modal-title">Enter Contact Details</h2>
            </div>
            <div id="form-container">
                <form id="edit-modal-form">
                    {{!-- Contact ID (readonly) --}}
                    <div class="flex flex-col w-1/4 my-2">
                        <label for="contact-id">Contact ID Number</label>
                        <input class="contact-input" id="contact-id" type="text" value="0" readonly>
                    </div>
                    {{!-- First and Last Name --}}
                    <div class="flex justify-start items-center">
                        <div class="flex flex-col my-2">
                            <label for="first-name">First Name:</label>
                            <input class="contact-input" id="edit-contact-first-name" type="text" placeholder="John">
                        </div>
                        <div class="ml-4 flex flex-col my-2">
                            <label for="last-name">Last Name:</label>
                            <input class="contact-input" id="edit-contact-last-name" type="text" placeholder="Doe">
                        </div>
                    </div>
                    {{!-- Email and Phone Number --}}
                    <div class="flex justify-start items-center">
                        <div class="flex flex-col w-1/4 my-2">
                            <label for="email">Email:</label>
                            <input class="contact-input" id="edit-contact-email" type="email"
                                placeholder="john@johndoe.com">
                        </div>
                        <div class="ml-4 flex flex-col w-1/4 my-2">
                            <label for="phone-number">Phone Number:</label>
                            <input class="contact-input" id="edit-contact-phone-number" type="tel"
                                placeholder="555-555-5555">
                        </div>
                    </div>
                    {{!-- Company Name --}}
                    <div class="flex flex-col w-1/4 my-2">
                        <label for="company-name">Company Name:</label>
                        <input class="contact-input" id="edit-contact-company-name" type="text"
                            placeholder="John & Co.">
                    </div>
                    <button id="submit-edit-contact" class="bg-slate-900 text-slate-50" type="submit">Update
                        Contact</button>
                </form>
            </div>
        </div>
    </div>
    {{!-- Contact Section Header --}}
    <div class="flex justify-between items-center">
        <h2>Contacts</h2>
        <button id="delete-contact-btn">Delete Selected Contacts</button>
        <button id="create-contact-btn">Create Contact</button>
    </div>

    {{!-- Contacts Container --}}
    <div id="contact-header" class="flex justify-between items-center contacts-container bg-slate-200">
        <h3>Contact List</h3>
    </div>
    <div id="contact-list" class="contacts-container bg-slate-100">
        <div id="checkbox" class="contact-column">
            <input id="checkboxall" class="checkbox" type="checkbox">
        </div>
        <div id="name" class="contact-column">
            <p>Name</p>
        </div>
        <div id="email" class="contact-column">
            <p>Email</p>
        </div>
        <div id="phone" class="contact-column">
            <p>Phone Number</p>
        </div>
        <div id="company" class="contact-column">
            <p>Company</p>
        </div>
        <div id="last-activity">
            <p>Last Activity</p>
        </div>
    </div>
    {{!-- Need to make this a for EACH to loop through all contacts --}}
    {{#each contacts as |contact|}}
    {{> contact-details contact}}
    {{/each}}
</section>

<script src="/js/createContact.js"></script>
<script src="/js/deleteContact.js"></script>
<script src="/js/checkboxes.js"></script>
<script src="/js/editContact.js"></script>