<section>
    <p>Dashboard Page</p>
    {{!-- Chart Container --}}
    <div style="width: 800px;">
        <canvas id="acquisitions"></canvas>
    </div>
</section>

<script type="module" src="/js/dashboard.js"></script>