<section>
    <h2 class="mb-5">Dashboard</h2>
    <div class="flex">
        <div class="mr-5">
            <h3>Total contacts:</h3>
            <p id="total-contacts" class="text-5xl">0</p>
        </div>
        <div class="ml-16">
            <h3>Contacts Added Today:</h3>
            <p id="contacts-current-day" class="text-5xl">0</p>
        </div>
    </div>
    {{!-- Graph --}}
    <div id="graph-container" class="mt-5">
        <h3>Contacts Added This Week:</h3>
        <div id="chart"></div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/js/dashboard.js"></script>