<section>
    {{!-- Article Card --}}
    <div id="article-card">
        {{!-- Card Header --}}
        <div id="card-header">
            <h2>Card Title</h2>
            <p>Posted by "Name" on "Date"</p>
        </div>
        {{!-- Card Body --}}
        <div id="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt tempore quidem tempora hic quaerat, ab fugiat ea excepturi in? Illo est aliquam sit harum pariatur suscipit eos adipisci dolor? Facilis?</p>
        </div>
    </div>
</section>