{{!-- Login and Signup Forms --}}
<section id="form-section" class="flex flex-col sm:flex-row justify-center item-center">

    {{!-- Login --}}
    <div class="mx-5">
        <h2>Login</h2>
        <form class="login-form">
            <div class="form-group pb-2 ">
                <label class="form-label" for="username-login">Username:</label>
                <input class="form-input bg-slate-50" type="text" id="username-login" />
            </div>
            <div class="form-group">
                <label class="form-label" for="password-login">Password:</label>
                <input class="form-input bg-slate-50" type="password" id="password-login" />
            </div>
            <div class="form-group">
                <button class="CTA-btn" type="submit">Login</button>
            </div>
        </form>
    </div>

    {{!-- SignUp --}}
    <div class="mx-5">
        <h2>Signup</h2>
        <form class="signup-form">
            <div class="form-group">
                <label class="form-label" for="userName-signup">Username:</label>
                <input class="form-input bg-slate-50 outline-2 outline-slate-500" type="text" id="userName-signup" />
            </div>
            <div class="form-group">
                <label class="form-label" for="firstName-signup">First Name:</label>
                <input class="form-input bg-slate-50" type="text" id="firstName-signup" />
            </div>
            <div class="form-group">
                <label class="form-label" for="lastName-signup">Last Name:</label>
                <input class="form-input bg-slate-50" type="text" id="lastName-signup" />
            </div>
            <div class="form-group">
                <label class="form-label" for="email-signup">email:</label>
                <input class="form-input bg-slate-50" type="text" id="email-signup" />
            </div>
            <div class="form-group">
                <label class="form-label" for="password-signup">password:</label>
                <input class="form-input bg-slate-50" type="password" id="password-signup" />
            </div>
            <div class="form-group">
                <button class="" type="submit">Sign Up</button>
            </div>
        </form>
    </div>

</section>

<script src="./js/login.js"></script>