<section class="grid grid-cols-2 h-screen">
    <div class="">
        <h2>Contact Name</h2>
        <p>email@email.com</p>
    </div>
    <div class="bg-slate-300">
        <h2>Notes</h2>
    </div>
</section>